* {
  padding: 0;
  border: 0;
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #00aaff, #00ff6c);
  align-items: center;
  justify-content: center;
}

.calculator-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 100px);
}

.calculator-grid .output {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  grid-column: 1/-1;
  padding: 12px 8px;
  color: #fff;
  background: rgb(0, 0, 0, 0.7);
  border-radius: 4px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .output__previous {
  opacity: 0.7;
  font-size: 1rem;
}

.output .output__current {
  opacity: 1;
  font-size: 1.5rem;
}

.calculator-grid > .cell {
  padding: 8px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  height: 60px;
  width: 100px;
  margin-top: 2px;
  border-radius: 4px;
  cursor: pointer;
  background: rgb(255, 255, 255, 0.8);
}

.cell:hover {
  background: #00ff6c;
  transition: all 0.3s ease;
  color: #fff;
}
